@model InsureGo_MVC.Models.ViewModels.VehicleViewModel

@using (Html.BeginForm("Buy", "Insurance", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <h2>Select Vehicle Type</h2>

    <button type="button" onclick="setType('4W')" class="btn btn-primary">
        4 Wheeler Insurance
    </button>

    <button type="button" onclick="setType('2W')" class="btn btn-primary">
        2 Wheeler Insurance
    </button>

    @Html.HiddenFor(m => m.VehicleType)

    <hr />

    @Html.TextBoxFor(m => m.Manufacturer, new { @class = "form-control", placeholder = "Manufacturer" })
    @Html.ValidationMessageFor(m => m.Manufacturer)

    @Html.TextBoxFor(m => m.VehicleModel, new { @class = "form-control", placeholder = "Vehicle Model" })
    @Html.ValidationMessageFor(m => m.VehicleModel)

    @Html.TextBoxFor(m => m.DrivingLicence, new { @class = "form-control", placeholder = "Driving Licence" })
    @Html.ValidationMessageFor(m => m.DrivingLicence)

    @Html.TextBoxFor(m => m.PurchaseDate, "{0:yyyy-MM-dd}",
        new { type = "date", @class = "form-control" })
    @Html.ValidationMessageFor(m => m.PurchaseDate)

    @Html.TextBoxFor(m => m.RegistrationNumber, new { @class = "form-control", placeholder = "Registration Number" })
    @Html.ValidationMessageFor(m => m.RegistrationNumber)

    @Html.TextBoxFor(m => m.EngineNumber, new { @class = "form-control", placeholder = "Engine Number" })
    @Html.ValidationMessageFor(m => m.EngineNumber)

    @Html.TextBoxFor(m => m.ChassisNumber, new { @class = "form-control", placeholder = "Chassis Number" })
    @Html.ValidationMessageFor(m => m.ChassisNumber)

    <br />
    <button type="submit" class="btn btn-success">Next</button>
}

<script>
    function setType(type) {
        document.getElementById("VehicleType").value = type;
    }
</script>
