@model InsureGo_MVC.Models.ViewModels.InsuranceViewModel
@{
    ViewBag.Title = "Select Insurance Plan";
}

<h2>Select Insurance Plan</h2>

@using (Html.BeginForm("SelectPlan", "Insurance", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.Label("Vehicle Type")
        <input type="text" class="form-control" value="@Model.VehicleType" readonly />
    </div>

    <div class="form-group">
        @Html.Label("Vehicle Model")
        <input type="text" class="form-control" value="@Model.VehicleModel" readonly />
    </div>

    <div class="form-group">
        @Html.Label("Registration Number")
        <input type="text" class="form-control" value="@Model.RegistrationNumber" readonly />
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.PlanType)
        @Html.DropDownListFor(m => m.PlanType,
            new SelectList(new[] { "Third Party", "Comprehensive" }),
            "Select Plan",
            new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.PlanType)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Duration)
        @Html.TextBoxFor(m => m.Duration, new { @class = "form-control", type = "number", min = "1", max = "5" })
        @Html.ValidationMessageFor(m => m.Duration)
    </div>

    <button type="submit" class="btn btn-success">Next: Payment</button>
}
