@model InsureGo_MVC.Models.ViewModels.ForgotPasswordViewModel

@{
    ViewBag.Title = "Forgot Password";
}

<h2>Forgot Password</h2>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div>
        @Html.LabelFor(m => m.EmailId)
        @Html.TextBoxFor(m => m.EmailId)
        @Html.ValidationMessageFor(m => m.EmailId)
    </div>

    <div>
        <input type="submit" value="Generate Captcha" />
    </div>

    <div>
        @Html.ActionLink("Back to Login", "Login", "Account")
    </div>
}
