@model InsureGo_MVC.Models.ViewModels.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset Password";
}

<h2>Reset Password</h2>

<!-- Show success message from TempData -->
@if (TempData["Success"] != null)
{
    <div style="color:green">
        @TempData["Success"]
    </div>
}

<!-- Show error message from ViewBag -->
@if (ViewBag.Error != null)
{
    <div style="color:red">
        @ViewBag.Error
    </div>
}

<!-- Display Captcha -->
<div>
    <strong>Captcha:</strong> @ViewBag.Captcha
</div>

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div>
        @Html.LabelFor(m => m.Captcha)
        @Html.TextBoxFor(m => m.Captcha, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Captcha, "", new { @style = "color:red" })
    </div>

    <div>
        @Html.LabelFor(m => m.NewPassword)
        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.NewPassword, "", new { @style = "color:red" })
    </div>

    <div>
        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @style = "color:red" })
    </div>

    <br />

    <div>
        <input type="submit" value="Reset Password" class="btn btn-primary" />
    </div>

    <div style="margin-top:10px;">
        @Html.ActionLink("Back to Login", "Login", "Account")
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
