@model InsureGo_MVC.Models.ViewModels.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset Password";
}

<h2>Reset Password</h2>

@if (ViewBag.Error != null)
{
    <div style="color:red">@ViewBag.Error</div>
}

<div>
    <strong>Captcha:</strong> @ViewBag.Captcha
</div>

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div>
        @Html.LabelFor(m => m.Captcha)
        @Html.TextBoxFor(m => m.Captcha)
        @Html.ValidationMessageFor(m => m.Captcha)
    </div>

    <div>
        @Html.LabelFor(m => m.NewPassword)
        @Html.PasswordFor(m => m.NewPassword)
        @Html.ValidationMessageFor(m => m.NewPassword)
    </div>

    <div>
        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.PasswordFor(m => m.ConfirmPassword)
        @Html.ValidationMessageFor(m => m.ConfirmPassword)
    </div>

    <div>
        <input type="submit" value="Reset Password" />
    </div>

    <div>
        @Html.ActionLink("Back to Login", "Login", "Account")
    </div>
}
