﻿@model InsureGo_MVC.Models.ViewModels.SetClaimAmountViewModel

<h2>Set Claim Amount</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ClaimId)

    <div>
        @Html.LabelFor(m => m.Amount)
        @Html.TextBoxFor(m => m.Amount)
        @Html.ValidationMessageFor(m => m.Amount)
    </div>
    <button type="submit">Update Claim</button>
}